.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

//Variables
$steel-gray: #bac3ca;
$olive-leaf: #2E4F03;
$primary-color: $steel-gray;
$secondary-color: $olive-leaf;

body {
    background-color: $primary-color;
}

.container {
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    grid-template-columns: auto;
    min-height: 100vh;
    background: #000000;
    color: #FFFFFF;
    @extend .marcellus-regular;
    margin: 0;

} 

.cover-background {
    background: url(background.jpg);
    background-size: cover;
}

.header {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    align-content: center;
    grid-column-end: span 3;
    padding-left: 15px;
}

.logo-letters {
   min-width: 50px; 
   max-width: 200px;
   align-self: center;
   padding-top: 10px;
}

.menu {
    justify-self: end;
    padding-right: 10px;
}

.left-aside {
    grid-row-start: 2;
    grid-column-start: 1;
}

.right-aside {
    grid-column-start: 3;
}
.hero-banner {
    display: grid;
    grid-column-start: 2;
    justify-self: center;
    min-height: 500px;
    align-items: center;
}

.logo-img {
    width: 100%;
    max-width: 800px;
    justify-self: center;
}

.section-heading-text {
    justify-self: center;
    align-self: end;
    font-size: clamp(27px, 4.1vw, 60px);
    font-weight: bolder;
    background-color: #00000050;
    margin:0;
}

.section-description-text {
    text-align: center;
    font-size: clamp(16px, 1.4vw, 26px);
    background-color: #00000050;
    align-self: start;
    margin:0;
    padding: 0 16vw;
    @extend .roboto-light;
}

.stock-section {
    display: grid;
    grid-column-end: span 2;
    align-content: start;
    justify-content: center;
    padding: 10px;
    background-color: $primary-color;
    h1, h2 {
        align-self: start;
        color: #000000;
        background-color: unset;
    }
}

.divider {
        padding-bottom: 3%;
        border-bottom: black 2px solid;
}

.footer {
    grid-column-end: span 2;
    background:$primary-color;
}

.contact-section {
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-items: center;
    justify-content: start;
    row-gap: 10px;

    h2, a {
        padding: 0px 10px;
        justify-self: start;
        background-color: unset;
        text-decoration: none;
    }

    a:link, a:visited {
        color:#000000; 
    }
}

.icon {
    width: clamp(16px, 2vw, 30px);
}
